body {
    background-color: #212121;
    color: white;
}

img {
    max-width: 200px !important;
}

.imgTable {
    max-height: 100px;
}

.card-content {
    /*background-color: #641b00;*/
    background-color: black;
    text-align: center;
    color: white;
}

.dropdown-content {
    top: 100% !important;
}

.film {
    height: 600px;
    top: -100px;
    margin-top: -200px;
}

.imagePreview {
    float: left;
    margin-top: 60px;
    margin-left: 30px;
    opacity: 0.2;
    position: absolute;
}

.gras {
    font-weight: bold;
}

.iframeYT {
    border: 0;
    width: 560px;
    height: 315px;
}

.modalContent {
    background-color: #212121;
    color: white;
    text-align: center;
}

ul.dropdown-content.select-dropdown li span {
    background-color: #000000;
    color: #006064; /* no need for !important :) */
}

/* invalid color */
ul.dropdown-content.select-dropdown li.disabled span {
    background-color: grey;
    color: white;
}

ul.dropdown-content.select-dropdown li.selected {
;
    color: white;
}

.input-field input {
    color: white;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.marginNeg {
    margin-top: -15px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop30 {
    margin-top: 30px;
}

.margin50 {
    margin-top: 50px;
}

.select-dropdown{
    color: #FFFFFF;
}

tr {
    border-bottom: 1px solid white !important;
}

.datepicker-date-display {
    background-color: black;
}

.datepicker-day-button {
    color: black !important;
}

.datepicker-controls .select-wrapper input {
    color: red !important;
}

.datepicker-day-button:focus {
    color: black !important;
    background-color: black;
}

.datepicker-done,
.datepicker-cancel,
.select-dropdown li>span,
.is-today {
    color: red; !important
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
    background-color: red !important
}

td.is-selected.is-today {
    color: black !important
}