body {
    background-color: #212121;
    color: white;
}

img {
    max-width: 200px !important;
}

.imgTable {
    max-height: 100px;
}

.card-content {
    /*background-color: #641b00;*/
    background-color: black;
    text-align: center;
    color: white;
}

.dropdown-content {
    top: 100% !important;
}

.film {
    height: 600px;
    margin-top: -200px;
}

.floatLeft {
    float: left;
    margin-top: 60px;
    margin-left: 30px;
    position: absolute;
}

.gras {
    font-weight: bold;
}

.iframeYT {
    border: 0;
    width: 560px;
    height: 315px;
}

.modalContent {
    background-color: #212121;
    color: white;
    text-align: center;
}

.margin50 {
    margin-top: 50px;
}

ul.dropdown-content.select-dropdown li span {
    background-color: #000000;
    color: #006064; /* no need for !important :) */
}

/* invalid color */
ul.dropdown-content.select-dropdown li.disabled span {
    background-color: grey;
    color: white;
}

ul.dropdown-content.select-dropdown li.selected {
;
    color: white;
}

.input-field input {
    color: white;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTop30 {
    margin-top: 30px;
}

.select-dropdown{
    color: #FFFFFF;
}

tr {
    border-bottom: 1px solid white !important;
}